@model IPagedList<RestaurantListViewModel>

<div id="restaurantList">
    
    
    <div class="pagedList" data-otf-target="#restaurantList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
        PagedListRenderOptions.MinimalWithItemCountText)
    </div>

    

    @foreach (var item in Model)
    {
        <div>
            <h3>@item.Name</h3>
        </div>
        <div>
            <p>@item.City, @item.Country</p>
        </div>

        <div>
            Reviews: @item.CountOfReviews
        </div>
        <hr />
    }
</div>